@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

:root{
    --grey: rgba(211, 211, 211, 0.458);
    --green: #1fc29d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.sub-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px solid var(--grey);
}

.log{
    padding: .6rem;

}

h1, h2, h3, .log{
    font-family: 'Montserrat', sans-serif;
}

.log-active{
    border-bottom: 2px solid var(--green);
    color: var(--green);
}

a{
    color: currentColor;
    text-decoration: none;
}

main{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
}

.form{
    padding: 2rem;
    border: 1px solid var(--grey);
    border-radius: 7px;
    /* animation-name: ani; */
    animation-duration: 4s;
    z-index: 2;
}

.form h3{
    padding: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--grey);
    font-size: 25px;
}


input{
    height: 50px;
    width: 18rem;
    padding: .75rem;
    border: 1px solid #cfcfcf;
    border-radius: .25rem;
    color: gray;
    font-size: 16px;
    outline: none;
    margin: .4rem 0;
}

input:focus{
    border: 1.3px solid #1fc29d;
}

input[type='submit']{
    background-color: #1fc29d;
    color: #fff;
    border-radius: .25rem;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

input[type='submit']:hover{
    transform: scale(1.05);
}

@media screen and (max-width:900px) {
    .ill-img{
        display: none;
    }
}

@keyframes ani {
    from{
        transform: translateY(-30rem);
    }
    to{
        transform: translateY(0rem);
    }
}